<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~  Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com) All Rights Reserved.
 ~
 ~  WSO2 LLC. licenses this file to you under the Apache License,
 ~  Version 2.0 (the "License"); you may not use this file except
 ~  in compliance with the License.
 ~  You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~  Unless required by applicable law or agreed to in writing,
 ~  software distributed under the License is distributed on an
 ~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~  KIND, either express or implied.  See the License for the
 ~  specific language governing permissions and limitations
 ~  under the License.
-->

<template name="init" onError="fault" xmlns="http://ws.apache.org/ns/synapse">
	<parameter name="base" description="The service root URL."/>
	<parameter name="apiKey" description="apiKey."/>
	<sequence>
		<filter xpath="fn:ends-with($func:base, '/')">
			<then>
				<property name="uri.var.base" expression="fn:substring($func:base, 1, fn:string-length($func:base)-1)"/>
			</then>
			<else>
				<property name="uri.var.base" expression="$func:base"/>
			</else>
		</filter>
		#if ($apiKeyIn == "header")
        <header name="$apiKeyName" expression="$func:apiKey" scope="transport"/>
        #elseif ($apiKeyIn == "query")
        <property name="uri.var.${apiKeyName}" expression="$func:apiKey" scope="transport"/>
        #end
	</sequence>
</template>
