{
    "connectorName": "$connectorName",
    "connectionName": "$connectorName",
    "title": "$connectorName connection",
    "help": "$connectorName connection",
    "markdownDescription": "#Init Summary\n \n# Prerequisites\n\n# Input\n\n# Output\n\n# Error\n\n# Example\n\n# Notes\n\n",
    "testConnection": {
        "operation": "ping",
    },
    "elements": [
        {
            "type": "attribute",
            "value": {
                "name": "connectionName",
                "displayName": "Connection Name",
                "inputType": "string",
                "defaultValue": "$connectorName_CONNECTION",
                "required": "true",
                "helpTip": "The name for the $connectorName connection.",
                "validation": "nameWithoutSpecialCharactors"
            }
        },
        {
            "type": "attributeGroup",
            "value": {
                "groupName": "General",
                "elements": [
                    {
                        "type": "attributeGroup",
                        "value": {
                            "groupName": "Basic",
                            "elements": [
                                {
                                    "type": "attribute",
                                    "value": {
                                        "name": "base",
                                        "displayName": "Base URL",
                                        "inputType": "stringOrExpression",
                                        "defaultValue": "",
                                        "required": "true",
                                        "helpTip": "The service root URL."
                                    }
                                }
                            ]
                        }
                    }
                ]
            }
        }
    ]
}
