#set ( $single_hash = '#' )
#set ( $double_hash = '##' )
$single_hash Configuring $connectorName Connector

$double_hash Initializing the connector

To use the $connectorName connector, add the <${connectorName}.init> element to your configuration before carrying out
any connector operations. The <${connectorName}.init> element supports authentication via headers, and you can enable
TLS support by selecting the corresponding checkbox in the init form.
#if ($auth)
**init**

```xml
<${connectorName}.init>
    <base>{$ctx:base}</base>
    <clientId>{$ctx:clientId}</clientId>
    <clientSecret>{$ctx:clientSecret}</clientSecret>
    <tokenEndpoint>{$ctx:tokenEndpoint}</tokenEndpoint>
</${connectorName}.init>
```

**Properties**

* base: The service root URL.
* accessToken: Represents the authorization of a specific application to access specific parts of a user’s data.
* clientId: Client ID of the registered application.
* clientSecret: Client secret of the registered application.
* tokenEndpoint: An HTTP endpoint that can be uses to obtain an access token.
* scope: The scope of the resources that will be accessed.
#end

**Additional Info**
* For information on setting parameters to Property Mediators, see
[Property Mediator](https://ei.docs.wso2.com/en/7.2.0/micro-integrator/references/mediators/property-Mediator/).
