#set( $single_hash = '#' )
#set( $double_hash = '##' )
#set( $triple_hash = '###' )

$single_hash Working with ${connectorName} Connector

$double_hash Overview

The **${connectorName}** connector allows you to perform a set of predefined operations. Each operation corresponds to a remote procedure call (RPC) that interacts with the backend service.

Below is a list of available operations and their descriptions:

| Operation Name   |
|------------------|
#foreach( $operation in $service.getRpcCallsMap().values() )
| ${operation.getRpcCallName()} |
#end

---

$double_hash Operation Details

This section provides detailed information about each operation, including the expected input and output parameters.

#foreach( $operation in $service.getRpcCallsMap().values() )

$triple_hash ${operation.getRpcCallName()} RPC Operation

${operation.getComment()}

**Input Parameters**

#if( !$operation.getInput().isEmpty() )
The following table lists the input parameters required for this operation:

| Parameter Name   | Proto Type   |
|------------------|--------------|
#foreach( $entry in $operation.getInput().entrySet() )
| ${entry.getKey()} | ${entry.getValue().getType()} |
#end
#else
This operation does not require any input parameters.
#end

**Output Parameters**

#if( !$operation.getOutput().isEmpty() )
The following table lists the output parameters returned by this operation:

| Parameter Name   | Proto Type   |
|------------------|--------------|
#foreach( $entry in $operation.getOutput().entrySet() )
| ${entry.getKey()} | ${entry.getValue().getType()} |
#end
#else
This operation does not return any output parameters.
#end

---
#end
