#set($firstChar = $rpcCall.getRpcCallName().substring(0,1).toLowerCase())
#set($remainder = $rpcCall.getRpcCallName().substring(1))
#set($lowercaseKey = "${firstChar}${remainder}")
{
    "connectorName": "$connectorName",
    "operationName": "$lowercaseKey",
    "title": "$rpcCall.getRpcCallName()",
    "help": "$rpcCall.getRpcCallName()",
    "markdownDescription": "# Summary\n \n# Prerequisites\n\n# Input\n\n# Output\n\n# Error\n\n# Example\n\n# Notes\n\n",
    "elements": [
        {
            "type": "attributeGroup",
            "value": {
                "groupName": "General",
                "elements": [
                    {
                        "type": "attribute",
                        "value": {
                          "name": "configRef",
                          "displayName": "Connection",
                          "inputType": "connection",
                          "allowedConnectionTypes": [
                            "$connectorName"
                          ],
                          "defaultType": "connection.$connectorName",
                          "defaultValue": "",
                          "required": "true",
                          "helpTip": "Connection to be used"
                        }
                    },
                    {
                        "type": "attribute",
                        "value": {
                          "name": "InputFormat",
                          "displayName": "Input Type",
                          "inputType": "combo",
                          "defaultValue": "JSON",
                          "required": "true",
                          "helpTip": "Format to Input Data",
                          "hidden": true,
                          "comboValues": [
                            "JSON",
                            "Form"
                            ]
                        }
                    },
                    {
                        "type": "attribute",
                        "value": {
                            "enableCondition": [{
                                "InputFormat": "JSON"
                            }],
                            "name": "jsonPayload",
                            "displayName": "Input JSON Payload",
                            "inputType": "stringOrExpression",
                            "defaultValue": "",
                            "required": "true",
                            "helpTip": "Provide a JSON object that aligns with your proto message fields."
                        }
                    }
                    #if ($rpcCall.getInput().size() > 0)
                    ,
                                #set($parameterList = $rpcCall.getInput())
                                #foreach ($param in $parameterList)
                                    {
                                        "type":"attribute",
                                        "value":{
                                            "name": "$param.getName()",
                                            "displayName": "$param.getName()",
                                            "inputType": "stringOrExpression",
                                            "defaultValue": "$param.getDefaultValue()",
                                            "required": "true",
                                            "helpTip": "$param.getName()",
                                            "enableCondition": [{
                                                 "InputFormat": "Form"
                                            }]
                                        }
                                    }#if($foreach.hasNext),#end
                                #end

                    #end
                    #if ($hasResponseModel==true)
                    ,{
                        "type":"attributeGroup",
                        "value":{
                            "groupName": "Output",
                            "elements":[
                                {
                                    "type":"attribute",
                                    "value":{
                                        "name": "responseVariable",
                                        "displayName": "Output Variable Name",
                                        "inputType": "string",
                                        "deriveResponseVariable" : true,
                                        "required": "true",
                                        "helpTip": "Name of the variable to which the output of the operation should be assigned"
                                    }
                                },
                                {
                                    "type":"attribute",
                                    "value":{
                                        "name": "overwriteBody",
                                        "displayName": "Overwrite Message Body",
                                        "inputType": "checkbox",
                                        "defaultValue": "false",
                                        "helpTip": "Replace the Message Body in Message Context with the output of the operation (This will remove the payload from the above variable).",
                                        "required": "false"
                                    }
                                }
                            ]
                        }
                    }
                    #end
                ]
            }
        }
    ]
}
